 .auth-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.auth-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.auth-tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #ccc;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-tabs button.active {
    background-color: #005f73;
    color: white;
}

.form-box {
    display: block;
}

.hidden {
    display: none;
}

.form-box form label {
    display: block;
    margin: 10px 0 5px;
}

.form-box form input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.form-box .btn {
    width: 100%;
    background-color: #ee9b00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  nav ul li {
    display: inline;
  }

  nav a {
    text-decoration: none;
    padding: 7px 10px;
    color:rgb(35, 33, 33);
    background-color:white
    ;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
     font-weight: bold;
  }
  nav a:hover {
    background-color: #ced2d6;
    color: black;
  } 
   
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 0.85rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

nav a {
  color: #050505;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #1abc9c;
}

.admin-container {
  max-width: 800px;
  margin: 2rem auto;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.add-event-form h2 {
  margin-bottom: 1rem;
  color: #2c3e50;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

form input,
form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #1abc9c;
  background-color: #fff;
}

.btn {
  display: inline-block;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #16a085;
}